%h2= t('views.company.contact')
= f.nested_fields_for :contact do |contact|
  .form
    = contact.text_field :ddd_phone, maxlength: '2', placeholder: t('label.ddd_phone')
    = error_for(record.contact, :ddd_phone)

    = contact.text_field :phone, maxlength: '9', placeholder: t('label.phone')
    = error_for(record.contact, :phone)

    = contact.text_field :ddd_cellphone, maxlength: '2', placeholder: t('label.ddd_cellphone')
    = error_for(record.contact, :ddd_cellphone)

    = contact.text_field :cellphone, maxlength: '9', placeholder: t('label.cellphone')
    = error_for(record.contact, :cellphone)

    - if admin_signed_in?
      = contact.text_field :email