%h2= t('views.company.contact')
= f.nested_fields_for :contact do |contact|
  .form
    = contact.label :phone, t('label.phone')
    = contact.text_field :phone
    = error_for(record.contact, :phone)

    = contact.label :cellphone, t('label.cellphone')
    = contact.text_field :cellphone
    = error_for(record.contact, :cellphone)

    = contact.label :email, t('label.email')
    = contact.text_field :email
    = error_for(record.contact, :email)