#gmap

#filters
  #bloods
    - for blood in Blood.scoped
      %span= blood.name

    = error_for(@notification, :blood_type)

  #distances
    .range
    %span.range_value 1

#counter

#result

= form_for @notification, url: institution_notifications_path do |f|
  .form
    = f.text_field :title, placeholder: t('label.title')
    = error_for(@notification, :title)

    = f.text_field :quantity, placeholder: t('label.quantity')
    = error_for(@notification, :quantity)

    = f.label :situation, t('label.situation')
    = f.select :situation, situations
    = error_for(@notification, :situation)

    = f.text_area :observation, placeholder: t('label.title')
    = error_for(@notification, :observation)

    = f.hidden_field :blood_type, class: 'blood'
    = f.hidden_field :distance, class: 'distance'

  .actions
    = f.submit 'salvar', class: 'notification', class: 'button save'

- content_for :javascript do
  :javascript
    new NewNotification()
    new Mask()