%h1 Notificados
%table.list
  %thead
    %tr
      %th= t('label.name')
      %th= t('label.canceled_at')
      %th= t('label.confirmed_at')
      %th= t('label.present')
      %th
  %tbody
    - for person_notification in notification.person_notifications
      %tr
        %td= person_notification.person.name
        %td= person_notification.canceled_at
        %td= person_notification.confirmed_at
        %td= check_box_tag 'participated', person_notification.id, person_notification.participated, class: 'particpated'
        %td
          = link_to 'detalhes', institution_person_notification_path(person_notification), class: 'link show'

- content_for :javascript do
  :javascript
    new Tables()