#show
  %h2= @notification.title

  .content
    %p
      = label_boolean(@notification.active)
      %b= t('label.active')

    %p
      = @notification.blood.name
      %b= t('label.blood')

    %p
      = @notification.title
      %b= t('label.title')

    %p
      = @notification.quantity
      %b= t('label.quantity')

    %p
      = @notification.situation
      %b= t('label.situation')

    %p
      = @notification.observation
      %b= t('label.observation')

    %p
      = @notification.company.name
      %b= t('label.company')

    %h1 NOTIFICADOS
    %table
      %thead
        %tr
          %th= t('label.name')
          %th= t('label.canceled_at')
          %th= t('label.confirmed_at')
          %th
      %tbody
        - for person_notification in @notification.person_notifications
          %tr
            %td= person_notification.person.name
            %td= person_notification.canceled_at
            %td= person_notification.confirmed_at
            %td
              = link_to 'detalhes', institution_person_notification_path(person_notification)

  .actions
    = link_to t('buttons.back'), institution_notifications_path, :class => 'link back'
    = link_to t('buttons.delete'), [:institution, @notification], method: :delete, confirm: t('flash.advertise'), :class => "link delete"