#show
  %h2= @notification.title

  .content
    %p
      = label_boolean(@notification.active)
      %b= t('label.active')

    %p
      = @notification.blood.name
      %b= t('label.blood')

    %p
      = @notification.title
      %b= t('label.title')

    %p
      = @notification.quantity
      %b= t('label.quantity')

    %p
      = @notification.situation
      %b= t('label.situation')

    %p
      = @notification.observation
      %b= t('label.observation')

    %p
      = @notification.company.name
      %b= t('label.company')

    %h1 NOTIFICADOS
    - for person_notification in @notification.person_notifications
      %p= person_notification.person.name
      %p= person_notification.canceled_at
      %p= person_notification.alerted_at
      %p= person_notification.confirmed_at

  .actions
    = link_to t('buttons.back'), institution_notifications_path, :class => 'link back'
    = link_to t('buttons.delete'), [:institution, @notification], method: :delete, confirm: t('flash.advertise'), :class => "link delete"