#notifications
  %h1= t('views.notifications.title')
  = link_to t('form.buttons.new'), new_admin_notification_path, class: 'button new'

  - if @notifications
    %table.list
      %thead
        %tr
          %th= t('views.notification.active')
          %th= t('views.notification.quantity')
          %th= t('views.notification.situation')
          %th= t('views.notification.alerted_at')
          %th.actions

      %tbody
        - @notifications.each do |notification|
          %tr
            %td= notification.active
            %td= notification.quantity
            %td= notification.situation
            %td= notification.alerted_at
            %td
              = link_to t('form.buttons.show'), admin_notification_path(notification), class: 'button show'
              = link_to t('form.buttons.edit'), edit_admin_notification_path(notification), class: 'button edit'

- content_for :javascript do
  :javascript
    new Tables()