= link_to t('form.buttons.back'), admin_notifications_path, :class => 'button back'

%p
	%b= @notification.active
%p
	%b= @notification.title
%p
	%b= @notification.quantity
%p
	%b= @notification.situation
%p
	%b= @notification.observation
%p
	%b= @notification.alerted_at