#show
  %h2= @notification.title

  .content
    %p
      = label_boolean(@notification.active)
      %b= t('label.active')

    %p
      = @notification.blood.name
      %b= t('label.blood')

    %p
      = @notification.title
      %b= t('label.title')

    %p
      = @notification.quantity
      %b= t('label.quantity')

    %p
      = @notification.situation
      %b= t('label.situation')

    %p
      = @notification.observation
      %b= t('label.observation')

    %p
      = formated_date(@notification.alerted_at)
      %b= t('label.alerted_at')

    %p
      = @notification.company.name
      %b= t('label.company')

  .actions
    = link_to t('buttons.back'), admin_notifications_path, :class => 'link back'

    = link_to t('buttons.edit'), edit_admin_notification_path(@notification), :class => 'link edit'

    = link_to t('buttons.delete'), [:admin, @notification], method: :delete, confirm: t('flash.advertise'), :class => "link delete"