#person
	= simple_form_for setup_person(@person), :html => { :multipart => true } do |f|
		.inputs
			= f.input :donor, :as => :boolean
			= f.input :name
			= f.input :surname
			= f.input :sex
			= f.input :birthday
			
		.actions
			= f.submit "Salvar"