%div{'data-role' => 'page'}
	%div{'data-role' => 'header'}
		%a{ 'href' => '/mobile', 'data-icon' => 'delete' } Cancel
		%h1 Doando.se
		%a{ 'href' => 'index.html', 'data-icon' => 'gear', 'class'=> 'ui-btn-right'} Options

	%div{'data-role' => 'content'}
		#person
			= link_to 'Twitter', '/auth/twitter', :class => 'twitter', :title => 'Twitter'
			= link_to 'Facebook', '/auth/facebook', :class => 'facebook', :title => 'Facebook'
			= link_to 'Google', '/auth/google_oauth2', :class => 'google', :title => 'Conta Google'

			= simple_form_for setup_person(@person) do |f|
				.inputs
					%h2 Pessoal
					= f.input :donor, :as => :boolean
					= f.input :name
					= f.input :surname
					= f.input :sex
					= f.input :birthday
			
					%h2 Contato
					= f.fields_for :contact do |contact_form|
						= contact_form.input :email
						= contact_form.input :phone
						= contact_form.input :cellphone

					%h2 Endereço
					= f.fields_for :address do |address_form|
						= address_form.input :zip_code
						= address_form.input :street
						= address_form.input :number
						= address_form.input :neighborhood
						= address_form.input :city
						= address_form.input :state
			
				.actions
					= f.submit "Salvar"