= simple_form_for [:admin, setup_partner(@partner)] do |f|
  .form
    = f.label :active, t('label.active')
    = f.check_box :active


    = f.label :name, t('label.name')
    = f.text_field :name

    = f.label :site, t('label.site')
    = f.text_field :site

    = f.simple_fields_for :logo do |logo|
      = f.label :logo, t('label.logo')
      = logo.file_field logo
      - unless @partner.new_record?
        .logo
          %p Logo:
          = image_tag logo.object.data.url(:thumb)


  = link_to t('buttons.back'), [:admin, :partners], class: 'back_form'
  .actions
    -unless @partner.new_record?
      = link_to t('form.buttons.delete'), [:admin, @partner], :confirm => t('flash.partner.delete.advertise'), method: :delete, class: "link delete"

    = f.button :submit, t('buttons.save'), class: 'button save'