#index
  %h2= t('views.partner.title_index')
  = link_to t('buttons.new'), new_admin_partner_path, class: 'button new'

  - unless @partners.blank?
    %table.list
      %thead
        %tr
          %th= t('label.name')
          %th= t('label.logo')
          %th= t('label.actions')

      %tbody
        - @partners.each do |partner|
          %tr
            %td= partner.name
            %td= image_tag partner.logo.data.url(:thumb)
            %td
              = link_to t('buttons.show'), [:admin, partner], class: 'link show'

              = link_to t('buttons.edit'), edit_admin_partner_path(partner), class: 'link edit'

              = link_to t('form.buttons.delete'), [:admin, partner], method: :delete, confirm: t('flash.advertise'), :class => "link delete"
  - else
    .empty= t('label.empty')

- content_for :javascript do
  :javascript
    new Tables()