#partners
  %h1= t('views.partner.title')
  .actions
    = link_to t('form.buttons.new'), new_admin_partner_path

  - unless @partners.blank?
    %table.list
      %thead
        %tr
          %th= t('views.partner.name')
          %th= t('views.partner.logo')
          %th.actions

      %tbody
        - @partners.each do |partner|
          %tr
            %td= partner.name
            %td= image_tag partner.logo.data.url(:thumb)
            %td
              = link_to t('form.buttons.show'), [:admin, partner], :class => "show"
              = link_to t('form.buttons.edit'), edit_admin_partner_path(partner), :class => "edit"