#show
  %h2= @partner.name

  .content
    %p
      = label_boolean(@partner.active)
      %b= t('label.active')

    %p
      = @partner.name
      %b= t('label.name')

    %p
      = @partner.site
      %b= t('label.site')

    %p
      = image_tag @partner.logo.data.url(:thumb)
      %b= t('label.logo')

  .actions
    = link_to t('form.buttons.back'), admin_partners_path, :class => 'link back'

    = link_to t('form.buttons.edit'), edit_admin_partner_path(@partner), :class => 'link edit'

    = link_to t('form.buttons.delete'), [:admin, @partner], method: :delete, confirm: t('flash.advertise'), :class => "link delete"