#advantages

  %span
    %h2= t('advantages.title_one')
    %p= t('advantages.text_one')

  %span
    %h2= t('advantages.title_two')
    %p= t('advantages.text_two')

  %span.last
    %h2= t('advantages.title_three')
    %p= t('advantages.text_three')