#person
  = simple_form_for @person do |f|
    .inputs
      = f.input :donor, :as => :boolean
      = f.input :name
      = f.input :surname
      = f.input :sex
      = f.input :weight
      = f.input :height
      = f.input :age

      = f.simple_fields_for :address do |address_form|
        = render :partial => '/addresses/form', :locals => { :f => address_form }

      = f.simple_fields_for :user do |user|
        = render :partial => '/users/identities/form', :locals => { :f => user }
    .actions
      = f.submit "Salvar"
      
  #user_map
  
- content_for :javascript do
  :javascript
    //new Gmap('user_map')