#new
  = simple_form_for setup_person(@person), :html => { :multipart => true } do |f|

    = render :partial => "people/steps/#{@person.current_step}", :locals => { :f => f }
    
    .actions
      = f.submit "Voltar", :name => 'back_button', :class => 'button back' unless @person.first_step?
      = f.submit label_button, :class => 'button save'