#new.user
  = simple_form_for setup_person(@person), :html => { :multipart => true } do |f|
    
    = render "people/#{@person.current_step}_step", :f => f

    .actions
      = f.submit "back", :name => 'back_button' unless @person.first_step?
      = f.submit label_button, :class => 'button save' 
