#user
  = simple_form_for setup_person(@person), :html => { :multipart => true } do |f|
    = render 'shared/error_messages', :record => @person

    = render "people/#{@person.current_step}_step", :f => f

    .actions
      = f.submit "back", :name => 'back_button' unless @person.first_step?
      = f.submit label_button, :class => 'button save' 
      
      
  #user_map
  
- content_for :javascript do
  = javascript_tag ''
