%h1= t('views.people.title_edit')

#edit
  = render 'shared/social'

  = form_for setup_people(@person), :html => { multipart: true } do |f|
    = render partial: 'form', locals: { f: f }

    .actions
      = f.submit t('buttons.new'), class: 'button red'

- content_for :javascript do
  :javascript
    new IdentityForm(),
    window.socialNetwork = new SocialButtons(),
     socialNetwork.setSocialNetwork("#{@authentications}")