.line
%h1= t('label.user.user_step.title')

= render 'shared/social'

= form_for setup_person(@person), :html => { multipart: true } do |f|
  = render partial: 'form', locals: { f: f }

  -#map

  = f.submit

- content_for :javascript do
  :javascript
    new Addressable()