%h1= t('views.person.show')

#show_person
  #map{:style => "width: 100%; height: 200px; padding: 0px"}


  = link_to edit_person_path(Person.find(current_user.authenticable_id)) do
    #perfil Editar Perfil


  - for person_notification in @person_notifications
    = link_to notification_complete_path(person_notification.notification) do
      #notifications
        %h2= person_notification.notification.title
        %span.label= t('label.quantity')
        %span.text= person_notification.notification.quantity
        .counter
          %b.count
            = show_list(person_notification.notification.person_notifications.count, person_notification.notification)
          #{t('label.participant')} -
          #{t('label.remaining')}
          %b.remaining #{person_notification.notification.remaining}