.form
  = f.label :name, t('label.name')
  = f.text_field :name

= link_to t('buttons.back'), [:admin, :bloods], class: 'back_form'

.actions
  = f.button :submit, t('buttons.save'), class: 'button save'

  - unless @blood.new_record?
    = link_to t('buttons.delete'), [:admin, @blood], method: :delete, confirm: t('flash.advertise'), class: 'button delete'