= form_tag '/auth/identity/callback', :class => 'sign_in' do
  %dl.form
    %dt
    %dd.social.clearfix
      = render 'shared/social'

    %dt Login ou Email:
    %dd= text_field_tag :auth_key

    %dt Senha:
    %dd= password_field_tag :password

  = submit_tag 'entrar', :class => 'submit'
  = link_to "Esqueci minha senha!", users_new_password_path, :class => 'recovery_password'
