#login
  %h2= t('label.login_title')
  = render 'shared/social'
  = form_tag '/auth/identity/callback/', class: 'sign_in' do
    .form

      = text_field_tag :auth_key, '', placeholder: t('label.auth_key')
      = password_field_tag :password, '', placeholder: t('label.password')

    .actions
      = submit_tag t('label.login'), class: 'button red'

      = link_to 'esqueceu sua senha?', users_new_password_path, class: 'forgot_password'

- content_for :javascript do
  :javascript
    window.social = new SocialButtons()