= form_tag '/usuario/auth/identity/callback/', class: 'sign_in' do
  .form
    = label_tag 'auth_key', 'apelido ou email'
    = text_field_tag :auth_key

    = label_tag 'password', 'senha'
    = password_field_tag :password

    = submit_tag 'login', class: 'submit'

    <br/> <br/>

    = link_to 'esqueceu sua senha?', '#', class: 'forgot_password'