%div#blood_of_type{ style: "width: 460px; height: 300px; float: left;"} 

- content_for :javascript do
  :javascript
    new PieCharts(
      {
        element: 'blood_of_type',
        titleText: 'Porcentagem de doadores por tipo sanguineo',
      },
      {
        type: 'pie',
        name: 'Porcentagem',
        data: [
          ['A+',  #{ Statistically.percentage_blood_type('A+') } ],
          ['A-',    #{ Statistically.percentage_blood_type('A-') } ],
          {
              name: 'B+',
              y: #{ Statistically.percentage_blood_type('B+') },
              sliced: true,
              selected: true
          },
          ['B-',        #{ Statistically.percentage_blood_type('B-') }],
          ['AB+',    #{ Statistically.percentage_blood_type('AB+') }],
          ['AB-',     #{ Statistically.percentage_blood_type('AB-') }],
          ['0+',      #{ Statistically.percentage_blood_type('O+') }],
          ['0-',       #{ Statistically.percentage_blood_type('O-') }]
        ]
    })