.form.user
  = f.label :email, t('label.email')
  = f.text_field :email
  = error_for(record, :email)

  = f.label :password, t('label.password')
  = f.password_field :password
  = error_for(record, :password)

  = f.label :password_confirmation, t('label.password_confirmation')
  = f.password_field :password_confirmation
  = error_for(record, :password_confirmation)