%dl.form.info
  %dl.people
    %dd.social.clearfix
    %dd
      = f.fields_for :authentications do |auth|
        = auth.hidden_field :provider
        = auth.hidden_field :uid
  %dt= f.label :email, t('form.label.email')
  %dd= f.text_field :email
  %dt= error_for @person.user, :email
  %dl
    - if @person.user.has_identity? || !@person.user.new_record?
      %dt= f.label :password, t('form.label.password')
      %dd= f.password_field :password
      %dt= error_for @person.user, :password

      %dt= f.label :password_confirmation, t('form.label.password_confirmation')
      %dd= f.password_field :password_confirmation
      %dt= error_for @person.user, :password_confirmation