%dl.form.info
  %dl.people
    %dd.social.clearfix
    %dd
      = f.fields_for :authentications do |auth|
        = auth.hidden_field :provider
        = auth.hidden_field :uid
  %dt= f.label :email, t('label.email')
  %dd= f.text_field :email

  %dl
    %dt= f.label :password, t('label.password')
    %dd= f.password_field :password

    %dt= f.label :password_confirmation, t('label.password_confirmation')
    %dd= f.password_field :password_confirmation