-if @person.user.errors.size > 0
  .validation
    %h2 Os seguintes erros foram encontrados:

    - for error in @person.user.errors.full_messages
      %ul
        %li= error

%dl.form.info
  %dl.people
    %dt
    %dd.social.clearfix

    %dt
    %dd
      = f.fields_for :authentications do |auth|
        = auth.hidden_field :provider
        = auth.hidden_field :uid
        
  %dt *Email:
  %dd= f.text_field :email

  %dl
    %dt *Apelido:
    %dd= f.text_field :username

    -if @person.user.has_identity? || !@person.user.new_record?
      %dt Senha:
      %dd= f.password_field :password

      %dt Confirmação de senha:
      %dd= f.password_field :password_confirmation
  
- content_for :javascript do
  = javascript_tag 
