.form.user
  = f.text_field :email, placeholder: t('label.email')
  = error_for(record, :email)

  = f.password_field :password, placeholder: t('label.password')
  = error_for(record, :password)

  = f.password_field :password_confirmation, placeholder: t('label.password_confirmation')
  = error_for(record, :password_confirmation)