= simple_form_for [:admin, setup_company(@company)] do |f|
  %dl.form
    %dt= f.label :active, t('label.active')
    %dd= f.text_field :active

    %dt= f.label :name, t('label.name')
    %dd= f.text_field :name

    %dt= f.label :fancy_name, t('label.fancy_name')
    %dd= f.text_field :fancy_name

    %dt= f.label :cnpj, t('label.cnpj')
    %dd= f.text_field :cnpj

    %dt= f.label :responsible, t('label.responsible')
    %dd= f.text_field :responsible

  = render partial: '/addresses/form', locals: { f: f }
  = render partial: '/contacts/form', locals: { f: f }

  %h2= t('views.company.user')
  = f.nested_fields_for :user do |u|
    = render partial: '/users/identities/form', locals: { f: u }

  .actions
    = link_to t('buttons.back'), [:admin, :companies], class: 'button back'
    -unless @company.new_record?
      = link_to t('form.buttons.delete'), [:admin, @company], method: :delete, confirm: t('flash.advertise'), class: "button delete"

    = f.button :submit, t('buttons.save'), :class => 'button save'

  - content_for :javascript do
    :javascript
      $('.users').nestedFields();