= simple_form_for [:admin, setup_company(@company)] do |f|

  .form
    = f.text_field :name, placeholder: t('label.name')
    = error_for(@company, :name)

    = f.text_field :fancy_name, placeholder: t('label.fancy_name')
    = error_for(@company, :fancy_name)

    = f.text_field :cnpj, placeholder: t('label.cnpj')
    = error_for(@company, :cnpj)

    = f.text_field :responsible, placeholder: t('label.responsible')
    = error_for(@company, :responsible)

  = link_to t('buttons.back'), [:admin, :companies], class: 'back_form'

  = render partial: '/addressable/form', locals: { f: f, record: @company }

  = render partial: '/contactable/form', locals: { f: f, record: @company }

  %h2= t('views.company.user')
  = f.nested_fields_for :user do |u|
    = render partial: '/users/identities/form', locals: { f: u, record: @company.user }

  .actions
    -unless @company.new_record?
      = link_to t('form.buttons.delete'), [:admin, @company], method: :delete, confirm: t('flash.advertise'), class: "link delete"

    = f.button :submit, t('buttons.save'), :class => 'button save'

- content_for :javascript do
  :javascript
    new RemoveFromErrors()