#companies
  %h1= t('views.company.title')
  .actions
    = link_to t('views.company.new'), new_admin_company_path

  - unless @companies.blank?
    %table.list
      %thead
        %tr
          %th= t('views.company.name')
          %th= t('views.company.logo')
          %th.actions

      %tbody
        - @companies.each do |company|
          %tr
            %td= company.name
            %td
              = link_to t('views.company.show'), [:admin, company], :class => "show"
              = link_to t('views.company.edit'), edit_admin_company_path(company), :class => "edit"