= simple_form_for [:admin, @testimonial] do |f|

  .form
    = f.label :active, t('label.active')
    = f.check_box :active

    = f.label :notification_id, t('label.notification')
    = f.select :notification_id,  Notification.scoped.map{ |b| [b.title, b.id] }
    = error_for(@testimonial, :notification_id)

    = f.label :title, t('label.title')
    = f.text_field :title
    = error_for(@testimonial, :title)

    = f.label :body, t('label.body')
    = f.text_area :body
    = error_for(@testimonial, :body)

    = f.button :submit, t('buttons.save'), class: 'button save'
    = link_to t('form.buttons.delete'), [:admin, @testimonial], method: :delete, confirm: t('flash.advertise'), class: "link delete"