#information_notification
  .information
    %span.label= t('label.blood')
    %span.text= notification.blood.name
    %span.label= t('label.quantity')
    %span.text= notification.quantity
    %span.label= t('label.situation')
    %span.text= notification.situation
    %span.label= t('label.alerted_at')
    %span.text= formated_date(notification.created_at)
    %span.label= t('label.company')
    %span.text= notification.company.name

  - if information
    .location
      %h3= t('label.address_company')

      %span.label= t('label.street')
      %span.text= notification.company.address.street
      %span.label= t('label.neighborhood')
      %span.text= notification.company.address.neighborhood
      %span.label= t('label.number')
      %span.text= notification.company.address.number
      %span.label= t('label.city')
      %span.text= notification.company.address.city
      %span.label= t('label.state')
      %span.text= notification.company.address.state
      %span.label= t('label.zip_code')
      %span.text= notification.company.address.zip_code