%h2= @notification.title

%p= @notification.blood.name
%p= @notification.quantity
%p= @notification.situation
%p= @notification.observation
%p= formated_date(@notification.alerted_at)
%p= @notification.company.name

#mini_map

= simple_form_for  @person_notification, :url => [:confirmed, @notification] do |f|
  = f.hidden_field :person_id, value: @person.id
  = f.hidden_field :notification_id, value: @notification.id
  = f.submit