#notifications
  %h1 Notificacoes
  -unless @notifications.blank?
    - for notification in @notifications
      .content
        %div
          %h2= notification.denomination
          .description= truncate(notification.observation, length:380)

        #mini_map

        .action
          = link_to t('buttons.participe'), '#', class: 'button red'
          = link_to t('buttons.show'), '#', class: 'button gray'

  - else
    .empty_list= t('label.empty')