#notifications
  %h1= t('views.notification.title')

  - unless @notifications.blank?
    - @notifications.each_with_index do |notification, index|
      -facebook_meta_for_notification notification
      .content_notifications
        .title
          %h2= notification.title
          .counter
            %b.count
              = show_list(notification.person_notifications.count, notification)
            #{t('label.participant')} -
            #{t('label.remaining')}
            %b.remaining #{notification.remaining}

        .social
          .fb_share
            = facebook_share 'Compartilhe!', notification.slug
          .twitter_share
            - twitter_like notification_url(notification.slug), notification_twitt_label(true, notification), :hash_tags => ["doandose", notification.blood.name]

        = render partial: 'information', locals: { notification: notification}

        %div{ id: "gmap_#{index}", class: 'mini_map', 'data-lat' => notification.company.address.loc[0], 'data-lng' =>notification.company.address.loc[1]}

        .action
          = participate_button(notification)
          = link_to t('buttons.show'), notification, class: 'button gray'
          = link_to t('label.indicate'), indication_friend_notification_path(notification), class: 'button gray'

    = will_paginate @notifications

    - content_for :javascript do
      :javascript
        GmapList.list()

  - else
    .empty_list= t('label.empty')