%h1= t('label.indicate')

#indicate

  = simple_form_for @send_indication, url: [:send_indication, @notification] do |f|
    .form
      = f.text_field :sender, placeholder: t('label.sender')
      = error_for(@send_indication, :sender)

      = f.text_field :email, placeholder: t('label.email')
      = error_for(@send_indication, :email)

      = f.text_field :subject, placeholder: t('label.subject'), value: subject
      = error_for(@send_indication, :subject)

      = f.text_area :message, placeholder: t('label.message'), value: message(@notification)
      = error_for(@send_indication, :message)

    .actions
      = f.button :submit, t('label.send'), class: 'button save'