#notification_show
  .title
    %h2= @notification.title
  = render partial: 'information', locals: { notification: @notification}
  #gmap

  .social
    .fb_share
      = facebook_share 'Compartilhe!', @notification.slug
    .twitter_share
      - twitter_like notification_url(@notification.slug), notification_twitt_label(true, @notification), :hash_tags => ["doandose", @notification.blood.name]

  = render partial: '/shared/button_direction'
  #routePanel

- content_for :javascript do
  :javascript
    UserDirection.direction({ painel: 'routePanel' ,
                            destination: [#{@notification.company.address.loc[0]}, #{@notification.company.address.loc[1]}]})