#circle_one
  #body
    %h2= t('footer.circle.title.about_us')
    %p= t('footer.circle.title.about_us_description')
    %h4.about_us= t('footer.circle.more')

#circle_two
  #body
    %h2= t('footer.circle.title.testimony')
    .quotes_rigth
    .quotes_left
    %p
      É um fato conhecido de todos que um leitor
      se distrairá com o conteúdo de texto legível
      de uma página quando...
    %h4= t('footer.circle.more')

#circle_three
  %h2 Contatos
  .form
    %input.name{ placeholder: t('label.name') }
    %input.email{ placeholder: t('label.email') }
    %input.subject{ placeholder: t('label.subject') }
    %textarea.message{ placeholder: t('label.message') }

    %input{ type: 'submit', class: 'submit button red', value: t('label.send') }

- content_for :javascript do
  :javascript
    new Contact()
    new Site()
