#filter
  #filter_content
    %span= t('views.filter.title')

    #combo
      .state
        %select
          - for state in states_collection
            %option{:value => state} #{state}

      .city
        %select
          - for state in states_collection
            %option{:value => state} #{state}

    #type
      %span a
      %span b
      %span ab
      %span o

    #factor
      %span +
      %span -

    #actions
      = link_to t('label.filter'), '#', class: 'button filter'
      = link_to t('label.zoom'), '#', class: 'button zoom'