
#filter
  %h3= t('views.filter.title')

  #filter_content
    %h4= t('label.address')
    %h4.blood_type= t('label.blood_type')
    %h4.distance= t('label.distance')

    %input{ id: 'searchBox', placeholder: t('label.search_address') }

    %span.institutional Exibir #{ t('label.company') }
    %span.donor Exibir #{ t('label.donor') }

    #bloods
      - for blood in Blood.scoped
        %span= blood.name

    #distances
      - distances.each_with_index do |distance, index|
        %span{ class: "#{'selected' if index == 0}"}= distance