
#filter
  %h3= t('views.filter.title')

  #filter_content
    %h4= t('label.address')
    %h4.blood_type= t('label.blood_type')
    %h4.distance= t('label.distance')

    %input{ id: 'searchBox', placeholder: t('label.search_address') }

    %span.institutional Exibir #{ t('label.company') }
    %span.donor Exibir #{ t('label.donor') }

    #bloods
      %span A+
      %span A-
      %span B+
      %span B-
      %span AB+
      %span AB-
      %span O+
      %span O-

    #distances
      %span.selected 5
      %span 10
      %span 20
      %span 30
      %span 40
      %span 50
      %span 70
      %span 100