.bar
  = link_to image_tag('logo.png'), root_path, title: 'Doando.se', class: 'logo'
  - if admin_signed_in?
    = link_to t('nav.campaigns'), admin_campaigns_path, :class => "item #{menu_item_class admin_campaigns_path}"
    = link_to t('nav.bloods'), admin_bloods_path, :class => "item #{menu_item_class admin_bloods_path}"
    = link_to t('nav.companies'), admin_companies_path, :class => "item #{menu_item_class admin_companies_path}"
    = link_to t('nav.partners'), admin_partners_path, :class => "item #{menu_item_class admin_partners_path}"
    = link_to t('nav.notifications'), admin_notifications_path, :class => "item #{menu_item_class admin_notifications_path}"
    = link_to t('nav.people'), admin_people_path, :class => "item #{menu_item_class admin_people_path}"
    = link_to t('nav.exit'), admin_destroy_session_path, :class => "item #{menu_item_class admin_destroy_session_path}"
  - else
    = link_to t('nav.notifications'), notifications_path, :class => "item #{menu_item_class notifications_path}"
    = link_to t('nav.campaigns'), campaigns_path, :class => "item #{menu_item_class campaigns_path}"
    =# link_to t('nav.partners'), partners_path, :class => "item #{menu_item_class partners_path}"
    =# link_to t('nav.companies'), companies_path, :class => "item #{menu_item_class companies_path}"
    =# link_to t('nav.informations'), '#', :class => "item #{menu_item_class '#'}"

    - if user_signed_in?
      = link_to t('nav.people'), person_path(Person.find(current_user.authenticable_id)), :class => "item #{menu_item_class people_path}"

    - elsif
      - p current_institution
      = link_to t('nav.new_people'), new_person_path, :class => "item #{menu_item_class new_person_path}"