.bar
  = link_to image_tag('logo.png'), root_path, title: 'Doando.se', class: 'logo'
  - if admin_signed_in?
    = render 'shared/nav/admin'
  - else
    = render 'shared/nav/public'

    - if user_signed_in?
      = render 'shared/nav/user'
    - elsif company_signed_in?
      = render 'shared/nav/institution'