#submenu
  = link_to t('nav.login'), users_new_session_path, class: "menu #{menu_item_class users_new_session_path}", class: 'button gray'

  #language
    %span= t('label.language')
    = link_to '', '', class: 'portuguese'
    = link_to '', '', class: 'english'