= simple_form_for [:admin, @campaign] do |f|
  - if @campaign.errors.any?
    #error_explanation
      .errors
        = pluralize(@campaign.errors.count, "erro")
        foram encontrados:

      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = f.input :active, :as => :radio
    = f.input :blood, :collection => Blood.all.each{|r| r.id}
    = f.input :company, :collection => Company.all.each{|r| r.id}
    = f.input :title
    = f.input :content
    = f.input :quantity
    = f.input :expired_at

  .actions
    = link_to t('form.buttons.back'), [:admin, :companies], :class => 'button back'
    -unless @campaign.new_record?
      = link_to t('form.buttons.delete'), [:admin, @campaign], :confirm => t('flash.campaign.delete.advertise'), :method => :delete, :class => "button delete"

    = f.button :submit, t('form.buttons.save'), :class => 'button save'

- content_for :javascript do
  :javascript
    $('.users').nestedFields();