= simple_form_for [:admin, @campaign] do |f|

  .form
    = f.label :active, t('label.active')
    = f.check_box :active

    = f.label :blood, t('label.blood')

    = f.label :title, t('label.title')
    = f.text_field :title

    = f.label :content, t('label.content')
    = f.text_field :content

    = f.label :quantity, t('label.quantity')
    = f.text_field :quantity

    = f.label :expired_at, t('label.expired_at')
    = f.text_field :expired_at

  .actions
    = link_to t('buttons.back'), [:admin, :campaigns], class: 'button back'

    -unless @campaign.new_record?
      = link_to t('buttons.delete'), [:admin, campaigns], method: :delete, confirm: t('flash.advertise'), class: "button delete"

    = f.button :submit, t('buttons.save'), :class => 'button save'