#index
  %h2= t('views.campaign.title_index')
  = link_to t('buttons.new'), new_admin_campaign_path, class: 'button new'

  - unless @campaigns.blank?
    %table.list
      %thead
        %tr
          %th= t('label.active')
          %th= t('label.title')
          %th= t('label.expired_at')
          %th= t('label.actions')

      %tbody
        - for campaign in @campaigns
          %tr
            %td= campaign.active
            %td= campaign.title
            %td= campaign.expired_at
            %td
              = link_to t('buttons.show'), [:admin, campaign], class: 'link show'

              = link_to t('buttons.edit'), [:edit, :admin, campaign], :class => "link edit"

              = link_to t('buttons.delete'), [:admin, campaign], method: :delete, confirm: t('flash.advertise'), class: "link delete"

  - else
    .empty= t('label.empty')

- content_for :javascript do
  :javascript
    new Tables()