#campaigns
  %h1= t('views.campaign.title')
  = link_to t('form.buttons.new'), new_admin_campaign_path, class: 'button new'

  - if @campaigns
    %table.list
      %thead
        %tr
          %th= t('views.campaign.active')
          %th= t('views.campaign.title')
          %th= t('views.campaign.expired_at')
          %th.actions

      %tbody
        - for campaign in @campaigns
          %tr
            %td= campaign.active
            %td= campaign.title
            %td= campaign.expired_at
            %td
              = link_to t('form.buttons.show'), [:admin, campaign], class: 'button show'
              = link_to t('form.buttons.edit'), [:edit, :admin, campaign], :class => "button edit"

- content_for :javascript do
  :javascript
    new Tables()