#show
  %h2= @campaign.title

  .content
    %p
      = label_boolean(@campaign.active)
      %b= t('label.active')

    %p
      - p @campaign
      = @campaign.blood
      %b= t('label.blood')

    %p
      = @campaign.company
      %b= t('label.company')

    %p
      = @campaign.content
      %b= t('label.content')

    %p
      = @campaign.quantity
      %b= t('label.quantity')

    %p
      = @campaign.expired_at
      %b= t('label.expired_at')

  .actions
    = link_to t('buttons.back'), admin_campaigns_path, class: 'link back'

    = link_to t('buttons.delete'), [:admin, @campaign], method: :delete, confirm: t('flash.advertise'), class: "link delete"

    = link_to t('buttons.edit'), edit_admin_campaign_path(@campaign), class: "link edit"