#home
  %h1= t('views.home')

  #gmap
  = render 'shared/filter'

  = render 'advantages/advantages'

- content_for :javascript do
  :javascript
    new HomeGmap({map: 'gmap',
                  people: #{@people_coordinates},
                  companies: #{@companies_coordinates},
                  showUserPosition: true
                  })
