#address    
  %h2= t('label.user.information_step.address_title')
  %dl
    = f.fields_for :address do |address_form|
      %dt= address_form.label :zip_code
      %dd= address_form.text_field :zip_code

      %dt= address_form.label :street
      %dd= address_form.text_field :street

      %dt= address_form.label :number
      %dd= address_form.text_field :number

      %dt= address_form.label :neighborhood
      %dd= address_form.text_field :neighborhood

      %dt= address_form.label :city
      %dd= address_form.text_field :city

      %dt= address_form.label :state
      %dd= address_form.select :collection, states_collection

      %dt= address_form.label :complement
      %dd= address_form.text_field :complement

      %dt= address_form.label :lat
      %dd= address_form.text_field :lat

      %dt= address_form.label :lng
      %dd= address_form.text_field :lng
      
- content_for(:javascript) do
  :javascript
    new Coordinates()
    new PostalCodes()