#information_form
  %dl
    %dt= f.label :blood
    %dd= f.select :blood, Blood.all.to_a.map{|r| [r.name, r.id]}
    
    %dt= f.label :donor
    %dd= f.check_box :donor

    %dt= f.label :name
    %dd= f.text_field :name

    %dt= f.label :surname
    %dd= f.text_field :surname

    %dt= f.label :sex
    %dd= f.select :sex, people_sexes

    %dt= f.label :birthday
    %dd= f.text_field :birthday

    %dt= f.label :weight
    %dd= f.text_field :weight

    %dt= f.label :height
    %dd= f.text_field :height

#contact
  %h2= t('label.user.information_step.contact_title')
  %dl
    = f.fields_for :contact do |contact_form|
      %dt= contact_form.label :phone
      %dd= contact_form.text_field :phone

      %dt= contact_form.label :cellphone
      %dd= contact_form.text_field :cellphone