= simple_form_for [:institution, @testimonial] do |f|

  .form
    = f.label :notification_id, t('label.notification')
    = f.select :notification_id,  current_user.authenticable.notifications.map{ |b| [b.title, b.id] }
    = error_for(@testimonial, :notification_id)

    = f.label :title, t('label.title')
    = f.text_field :title
    = error_for(@testimonial, :title)

    = f.label :body, t('label.body')
    = f.text_area :body
    = error_for(@testimonial, :body)

    = f.button :submit, t('buttons.save'), :class => 'button save'