#index
  %h2= t('views.testimonials.title_index')
  = link_to t('buttons.new'), new_institution_testimonial_path, class: 'button new'

  - unless @testimonials.blank?
    %table.list
      %thead
        %tr
          %th= t('label.title')
          %th= t('label.body')
          %th= t('label.actions')

      %tbody
        - @testimonials.each do |testimonial|
          %tr
            %td= testimonial.title
            %td= testimonial.body
            %td= link_to t('buttons.edit'), edit_institution_testimonial_path(testimonial), class: 'link edit'
  - else
    .empty= t('label.empty')

- content_for :javascript do
  :javascript
    new Tables()