%div#percentage_blood_of_type{ style: "width: 560px; height: 300px;"} 

- content_for :javascript do
  :javascript
    new PieCharts({
      type: 'pie',
      name: 'Porcentagem',
      data: [
        ['A+',  #{ Statistically.blood_percentage('A+') } ],
        ['A-',    #{ Statistically.blood_percentage('A-') } ],
        {
            name: 'B+',
            y: #{ Statistically.blood_percentage('B+') },
            sliced: true,
            selected: true
        },
        ['B-',        #{ Statistically.blood_percentage('B-') }],
        ['AB+',    #{ Statistically.blood_percentage('AB+') }],
        ['AB-',     #{ Statistically.blood_percentage('AB-') }],
        ['0+',      #{ Statistically.blood_percentage('O+') }],
        ['0-',       #{ Statistically.blood_percentage('O-') }]
      ]

    })