#index
  %h2= t('views.statics.title_index')

  #sessions
    .group
      %h3 Total de cadastro por tipo de sangue
      %div
        %p= render 'total_per_blood'

    .group
      %h3 Porcetagem ( tipos sanguineos, sexo, idade )
      %div
        %p
          = render 'admin/statistics/percentage/blood_of_type'
          = render 'admin/statistics/percentage/gender'
          = render 'admin/statistics/percentage/age_group'

    .group
      %h3 Ultimas notificacao com porcentagem de participacao
      %div
        %p= render 'percentage_notification'

- content_for :javascript do
  :javascript
    new Menu("#sessions" )