= link_to t('nav.notification'), institution_notifications_path, :class => "item #{menu_item_class institution_notifications_path}"

= link_to t('nav.campaigns'), institution_campaigns_path, :class => "item #{menu_item_class institution_campaigns_path}"

= link_to t('nav.exit'), institution_destroy_company_session_path, :class => "item #{menu_item_class institution_destroy_company_session_path}"