%h2= t('views.address.title')
= f.nested_fields_for :address do |address|
  .form

    = address.text_field :zip_code, class: 'postal_code', placeholder: t('label.zip_code')
    = error_for(record.address, :zip_code)

    = address.text_field :number, class: 'number', placeholder: t('label.number')
    = error_for(record.address, :number)

    = address.text_field :street, class: 'street', placeholder: t('label.street')
    = error_for(record.address, :street)

    = address.text_field :neighborhood, class: 'neighborhood', placeholder: t('label.neighborhood')
    = error_for(record.address, :neighborhood)

    = address.text_field :city, class: 'city', placeholder: t('label.city')
    = error_for(record.address, :city)

    = address.text_field :state, class: 'state', placeholder: t('label.state')
    = error_for(record.address, :state)

    = address.text_field :complement, class: 'complement', placeholder: t('label.complement')
    = error_for(record.address, :complement)

    = address.hidden_field :lat, class: 'lat'
    = address.hidden_field :lng, class: 'lng'

#gmap
- content_for :javascript do
  :javascript
    new Addressable(#{record.address.loc})