#address

  #postal_code
    = f.input :zip_code, :input_html => {:class => 'postal_code'}
  #street
    = f.input :street, :input_html => {:class => 'street'}
  #number
    = f.input :number, :input_html => {:class => 'number'}
  #neighborhood
    = f.input :neighborhood, :input_html => {:class => 'neighborhood'}
  #city
    = f.input :city, :input_html => {:class => 'city'}
  #state
    = f.input :state, :input_html => {:class => 'state'}, :collection => states_collection, :prompt => false
  #complement
    = f.input :complement, :input_html => {:class => 'complement'}

- content_for(:javascript) do
  :javascript
    new PostalCodes()