#address
  #postal_code
    = f.input :zip_code, :input_html => {:class => 'postal_code'} 
    = error_for @person.address, :zip_code
  #street
    = f.input :street, :input_html => {:class => 'street'}
    = error_for @person.address, :street
  #number
    = f.input :number, :input_html => {:class => 'number'}
    = error_for @person.address, :number
  #neighborhood
    = f.input :neighborhood, :input_html => {:class => 'neighborhood'}
    = error_for @person.address, :neighborhood
  #city
    = f.input :city, :input_html => {:class => 'city'}
    = error_for @person.address, :city
  #state
    = f.input :state, :input_html => {:class => 'state'}, :collection => states_collection, :prompt => false
    = error_for @person.address, :state
  #complement
    = f.input :complement, :input_html => {:class => 'complement'}

    = f.input :lat
    = f.input :lng

- content_for(:javascript) do
  :javascript
    new PostalCodes()
