#reset_password
  -if @user && @user.errors.size > 0
    .validation
      %h2 Os seguintes erros foram encontrados:

      - for error in @user.errors.full_messages
        %ul
          %li= error

  = form_for @user, :url => "/usuario/esqueci-minha-senha/#{@user.reset_password_token}", :html => {:class => 'forgot_password_edit'} do |f|
    .form
      = f.password_field :password, placeholder: 'Nova senha'
      = f.password_field :password_confirmation, placeholder: 'Confirmação da nova senha'

    = submit_tag 'alterar senha', class: 'button red'
