= simple_form_for [:admin, setup_person(@person)] do |f|

  .form
    = f.label :donor, t('label.donor')
    = f.check_box :donor

    = f.label :blood_id, t('label.blood')
    = f.select :blood_id, Blood.scoped.map{ |b| [b.name, b.id] }

    = f.label :name, t('label.name')
    = f.text_field :name
    = error_for(@person, :name)

    = f.label :surname, t('label.surname')
    = f.text_field :surname
    = error_for(@person, :surname)

    = f.label :sex, t('label.sex')
    = f.text_field :sex
    = error_for(@person, :sex)

    = f.label :weight, t('label.weight')
    = f.text_field :weight
    = error_for(@person, :weight)

    = f.label :height, t('label.height')
    = f.text_field :height
    = error_for(@person, :height)

    = f.label :birthday, t('label.birthday')
    = f.text_field :birthday
    = error_for(@person, :birthday)

    = f.label :observations, t('label.observations')
    = f.text_area :observations
    = error_for(@person, :observations)

  = link_to t('buttons.back'), [:admin, :people], class: 'back_form'

  = render partial: '/addressable/form', locals: { f: f, record: @person }

  = render partial: '/contactable/form', locals: { f: f, record: @person }

  %h2= t('views.person.user')
  = f.nested_fields_for :user do |u|
    = render partial: '/users/identities/form', locals: { f: u, record: @person.user }

  .actions
    = f.button :submit, t('buttons.save'), :class => 'button save'