= simple_form_for [:admin, setup_person(@person)] do |f|

  .form
    = f.label :donor, t('label.donor')
    = f.check_box :donor

    = f.label :blood_id, t('label.blood')
    = f.select :blood_id, Blood.scoped.map{ |b| [b.name, b.id] }

    = f.text_field :name, placeholder: t('label.name')
    = error_for(@person, :name)

    = f.text_field :surname, placeholder: t('label.surname')
    = error_for(@person, :surname)

    .outher
      - people_sexes.each do |sex|
        = label_tag sex[0], sex[0]
        = radio_button('person', 'sex', "#{sex[1]}")

    = f.text_field :weight, placeholder: t('label.weight')
    = error_for(@person, :weight)

    = f.text_field :height, placeholder: t('label.height')
    = error_for(@person, :height)

    = f.text_field :birthday, value: "#{ formated_birthdate(f.object.birthday) } ", placeholder: t('label.birthday')
    = error_for(@person, :birthday)

    = f.text_area :observations, wrapper_html: { placeholder: t('label.observations') }
    = error_for(@person, :observations)

  = link_to t('buttons.back'), [:admin, :people], class: 'back_form'

  = render partial: '/addressable/form', locals: { f: f, record: @person }

  = render partial: '/contactable/form', locals: { f: f, record: @person }

  %h2= t('views.person.user')
  = f.nested_fields_for :user do |u|
    = render partial: '/users/identities/form', locals: { f: u, record: @person.user }

  .actions
    = f.button :submit, t('buttons.save'), :class => 'button save'