#index
  %h2= t('views.people.title_index')

  - unless @people.blank?
    %table.list
      %thead
        %tr
          %th= t('label.donor')
          %th= t('label.name')
          %th= t('label.sex')
          %th= t('label.actions')

      %tbody
        - @people.each do |person|
          %tr
            %td= person.donor
            %td= person.name
            %td= person.sex
            %td
              = link_to t('buttons.show'), admin_person_path(person), class: 'link show'
              = link_to t('buttons.edit'), edit_admin_person_path(person), class: 'link edit'
              = link_to t('buttons.delete'), [:admin, person], method: :delete, confirm: t('flash.advertise'), :class => "link delete"

  - else
    .empty= t('label.empty')

- content_for :javascript do
  :javascript
    new Tables()