%h1= @person_notification.person.name

#alert_details
  %p
    %strong Cancelado em:
    = @person_notification.canceled_at

  %p
    %strong Confirmado em:
    = @person_notification.confirmed_at

#alert_show
  #email
    .title{class: "#{ 'disabled' if can_send_email(@person_notification) }"} EMAIL
    .counter= @person_notification.email_counter
    .list
      - for email in @person_notification.email_list.reverse
        = email['date']

  #sms
    .title{class: "#{ 'disabled' if can_send_sms(@person_notification) }"} SMS
    .counter= @person_notification.sms_counter
    .list
      - for sms in @person_notification.sms_list.reverse
        = sms['date']