#complete
  %h2 Obrigado por ajudar quem precisa!

  %span.thank
    A doação será realizada em #{parse_time(campaign.expired_at)}, no Hemocentro de #{campaign.company.address.city} situado na #{campaign.company.address.street}, #{campaign.company.address.number}, #{campaign.company.address.neighborhood}.
    %br
    A equipe Doando.se agradece por fazer parte desta corrente pela vida.
    %br
    Aguardamos a sua presença!



  = render partial: 'information', locals: { campaign: campaign, information: true }

  .action
    %span
      %b Antes de imprimir se concientize como  meio ambiente e utilize o QRCODE ou PDF.

    = link_to t('label.print'), campaign_print_path(campaign), target: '_blank',  class: 'button gray print'