%h1= t('views.campaign.title')

#campaigns
  - unless @campaigns.blank?
    - for campaign in @campaigns
      .content_campaigns
        %h2= link_to campaign.title, campaign_path(campaign)

        %span.label= t('label.content')
        %span.text= campaign.content

        %span.label= t('label.quantity')
        %span.text= campaign.quantity

        %span.label= t('label.expired_at')
        %span.text= campaign.expired_at

        = participate_button_campaign(campaign)

    = will_paginate @campaigns
  - else
    .empty_list= t('label.empty')


