#campaigns
  %h1= t('views.campaign.title')
  - unless @campaigns.blank?
    - for campaign in @campaigns
      .content
        %div
          %h2= campaign.title
          .description= campaign.content

        #mini_map

        .action
          = link_to t('buttons.participe'), '#', :class => 'button red'
          = link_to t('buttons.show'), '#', :class => 'button gray'

  - else
    .empty_list= t('label.empty')