#show
  %h2= @campaign.title

  .content
    %p
      = label_boolean(@campaign.active)
      %b= t('label.active')

    %p
      = @campaign.blood.name
      %b= t('label.blood')

    %p
      = @campaign.company.name
      %b= t('label.company')

    %p
      = @campaign.content
      %b= t('label.content')

    %p
      = @campaign.quantity
      %b= t('label.quantity')

    %p
      = formated_date(@campaign.expired_at)
      %b= t('label.expired_at')

  .actions
    = link_to t('buttons.back'), institution_campaigns_path, class: 'link back'

    = link_to t('buttons.delete'), [:institution, @campaign], method: :delete, confirm: t('flash.advertise'), class: "link delete"

    = link_to t('buttons.edit'), edit_institution_campaign_path(@campaign), class: "link edit"