= form_tag :url => [:users], :class => 'sign_in' do
  %dl.form
    %dt
    %dd.social.clearfix
      = link_to 'Twitter', '/auth/twitter', :class => 'twitter', :title => 'Twitter'
      = link_to 'Facebook', '/auth/facebook', :class => 'facebook', :title => 'Facebook'
      = link_to 'Google', '/auth/google', :class => 'google', :title => 'Conta do Google, gmail, orkut, etc.'
    
    %dt Login ou Email:
    %dd= text_field_tag :auth_key

    %dt Senha:
    %dd= password_field_tag :password

  = submit_tag 'entrar', :class => 'submit'
  = link_to "Esqueci minha senha!", users_new_password_path, :class => 'recovery_password'
