#testimonials
  - for testimonial in @testimonials
    .testimonial
      %h2= testimonial.title
      %span.label= t('label.notifications')
      %span.notificaion= testimonial.notification.title
      %span.text= testimonial.body

  = will_paginate @person_notifications