= link_to t('nav.root'), root_path

- if user_signed_in?
  = link_to t('nav.people'), person_path(Person.find(current_user.authenticable_id))
  = link_to t('nav.notifications'), notifications_path

  .welcome
    Bem vindo! #{Person.find(current_user.authenticable_id).name}
    = link_to t('nav.users_destroy_session'), users_destroy_session_path, :confirm => 'Deseja sair?'

- else
  = link_to t('nav.new_person'), new_person_path
  = link_to t('nav.users_new_session'), users_new_session_path
