!!! XML
!!! 1.1
%html{xmlns: 'http://www.w3.org/1999/xhtml', lang: 'pt-br'}
  %head
    = yield :stylesheet
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

    %title= page_title

  %body
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    #root
      #top
        = render partial: 'shared/social_networks'
        = render partial: 'shared/saludation' if current_user
        #menu
          = render partial: 'shared/nav'

        = render partial: 'shared/submenu'

      #content= yield

      #root_footer
        = render partial: 'shared/circles_footer'

    #footer
    = javascript_include_tag 'application'

    = render 'shared/require_gmap'
    = yield :javascript