!!! XML
!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "pt-br"}
  %head
    = yield :stylesheet
    = stylesheet_link_tag "institution"
    = csrf_meta_tag

    %title= page_title

  %body
    #root
      #top
        #menu
          .bar
            = link_to image_tag('logo.png'), institution_root_path, title: 'Doando.se', class: 'logo'
            = render partial: 'shared/nav/institution'

        #content= yield

      #root_footer
    #footer

    = javascript_include_tag "institution"
    = render 'shared/require_gmap'
    = yield :javascript