!!! XML
!!! 1.1
%html{xmlns: 'http://www.w3.org/1999/xhtml', lang: 'pt-br'}
  %head
    = yield :stylesheet
    = stylesheet_link_tag 'mailer'

  %body
    .logo
      = link_to image_tag("#{Settings.host_image}logo.png"), root_url, title: 'Doando.se'

    .container= yield

    #footer
      = link_to 'Visite nosso aplicativo.', 'www.doando.se'