.description
  %h1 Precisamos de sua ajuda

  .body
    Estamos necessitando urgente de sua doacao.
    %br
    Contamos com sua ajuda !
    %br
    = link_to 'clique aqui para acessar mais informacao', notification_url(@person_notification.notification)
    %br
    = link_to 'clique aqui para cancelar', canceling_person_notification_url(@person_notification)


.painel
  .blood
    %span Precisamos de:
    .quantity= @notification.quantity
    .blood_type= @notification.blood.name

  .counter
    %span Participantes:
    .count= link_to notification_counter(@notification), notification_list_user_url(@notification)
  .social
    %span Compartilhe:
    = render 'shared/shared_mailer'