.description
  %h1 Nosso muito obrigado

  .body
    Agradecemos sua solidariedade
    %br
    ficamos gratos com sua participacao,
    %br
    veja mais detalhes.
    %br
    = link_to 'Clicando aqui.', notification_url(@person_notification.notification)

.painel
  .blood
    %span Precisamos de:
    .quantity= @person_notification.notification.quantity
    .blood_type= @person_notification.notification.blood.name

  .counter
    %span Participantes:
    .count= link_to notification_counter(@person_notification.notification), notification_list_user_url(@person_notification.notification)
  .social
    %span Compartilhe:
    = render 'shared/shared_mailer'